/* css styles */

.navbar-brand {
    font-weight: 500;
}

.navbar {
    font-family: poppins;
    color: #735E59;
}

/* Justificar o texto do conteúdo principal */
/* Justificar parágrafos do conteúdo principal */
main p,
.quarto-article p,
.quarto-about p,
.about-contents p,
.about-entity p,
li {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

body, p, li, td, th, div {
  text-align: justify !important;
  text-justify: inter-word !important;
  hyphens: auto !important;
}