/* css styles */

.navbar-brand {
    font-weight: 500;
}



.navbar {
    font-family: poppins;
    color: #735E59;
}


/* Ajusta o conteúdo principal para não ficar escondido atrás da sidebar */
#quarto-content {
    margin-right: 300px; /* Ajuste este valor conforme necessário */
}
